@{
    ViewData["Title"] = "Not Found";
}

    <body>
        <h3>@ViewBag.ErrorMessage</h3>
        <a class="btn btn-primary align-items-center" asp-action="index" asp-controller="home">
            HOME
        </a>
    </body>



