@{
    ViewData["Title"] = "Index";
}
    <body style="background-color: #0e0e0e">
        <div class="img-fluid">
            <a asp-controller="Portfolio" asp-action="Photo"><img src="~/media/website resources/banners/KPMPhotoBanner.png" style="max-height:inherit; opacity:0.8" class="img-fluid" alt="KPM Photo Banner" /></a>
        </div>
        <div class="img-fluid">
            <a asp-controller="Portfolio" asp-action="Video"><img src="~/media/website resources/banners/KPMVideoBanner.png" style="max-height:inherit; opacity:0.8" class="img-fluid" alt="KPM Photo Banner" /></a>
        </div>
        <div class="img-fluid">
            <a asp-controller="Portfolio" asp-action="Media"><img src="~/media/website resources/banners/KPMMediaBanner.png" style="max-height:inherit; opacity:0.8" class="img-fluid" alt="KPM Photo Banner" /></a>
        </div>
    </body>

