@model KingPandaMedia.Models.ViewModels.VideoViewModel
@{
    ViewData["Title"] = "Video";
}

<body style="background-color: #0e0e0e">
    @if (User.IsInRole("Team Member"))
    {
        <div class="text-white pt-2">

            @section scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName)
                        })
                    });
                </script>
            }
            <div class="row">
                <strong class="text-center">
                    <label asp-for="ImageURL"></label>
                </strong>
                <form enctype="multipart/form-data" method="post" asp-action="Video" asp-controller="Portfolio">
                    <div class="custom-file m-0">
                        <input asp-for="ImageURL" type="file" class="form-control custom-file-input col-sm-9" multiple />
                        <label class="custom-file-label col-sm-6 border-0">Choose File...</label>
                    </div>
                    <span class="col-sm-3">
                        <input asp-page-handler="Video" class="btn btn-light" type="submit" value="Upload" />
                    </span>
                </form>
            </div>
        </div>
    }

        <div class="row">


            @foreach (var video in Model.Video)
            {
                @if (video.ImageURL.Contains(".mp4"))
                {
                    <video class="img-fluid" controls>
                        <source src="https://kingpandamediastorage.blob.core.windows.net/kpmedia/@video.ImageURL" type="video/mp4" />
                    </video>
                }
                else
                {
                    video.ImageURL = null;
                }
            }

        </div>

</body>
