
@{
    ViewData["Title"] = "Admin Index";
}


<div class="container">
    <h1>Admin Controls</h1>

    <a class="nav-link btn btn-dark mb-2" asp-area="" asp-controller="Admin" asp-action="CreateRole">
        Create Role
    </a>
    <a class="nav-link btn btn-dark mb-2" asp-area="" asp-controller="Admin" asp-action="ListRoles">
        List of Roles
    </a>
</div>




