@{
    ViewData["Title"] = "Photo";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="background-color: #090909">
    <div>
        <img src="~/media/photos/4966179.jpg" style="max-height:inherit" class="img-fluid" />
    </div>

    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</body>


