body {
    padding-top: 100px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
div {
    width: 100%;
}
#missionheading {
    max-height: 250px;
    width: inherit;
    padding: 1%;
}
#missionparagraph {
    font-family: Roboto;
    font-size: 24px;
    justify-content: center;
    color: white;
    width: inherit;
}
#socialmedia {
    color: #090909;
    padding: 5px 10px;
}
    #socialmedia:hover {
        color: #009aff;
    }

#packagesbtn {
    color: white;
    border-color: white;
    border: 2px solid;
    border-radius: 25px;
    background-color: transparent;
}
    #packagesbtn:hover {
        color: #009aff;
        background: transparent;
        border: 2px solid;
    }

#contact {
    font-family: Roboto;
    font-size: 24px;
    color: #090909;
    padding: 3px 0px;
}

#email:hover {
    color: #009aff;
}

